.link-box {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: navy;
}

a:hover {
    color:red;
}

.menu-text {
    margin-bottom: 24px;
    color: black;
    font-weight: 600;
}