<div class="body-div">
    <h2>Welcome to MyFavMovies</h2>
    <h3>Your go-to site for finding the perfect weeknight movie</h3>
    <div class="image-div">
        <img src="https://th.bing.com/th/id/R.fe6347cd05caade05f5f9bcbf64c515f?rik=BcIfzU7HNp%2fWUQ&riu=http%3a%2f%2fi.huffpost.com%2fgen%2f1164304%2fthumbs%2fo-MOVIE-THEATER-facebook.jpg&ehk=1bpXeZTGxLdl9Lx8bXzZ5pERII9oSOKJDjQAtUQO6uo%3d&risl=&pid=ImgRaw&r=0" alt="cinema">
    </div>
    <a routerLink="/movies">
        <app-button color="navy" text="Movies"></app-button>
    </a>
</div>