.btn {
    min-width: 60px;
    border-radius: 8px;
    padding: 6px;
    border: 1px navy solid;
    color: white;
    box-shadow: 0px 2px 4px black;
    z-index: 2;
    cursor: pointer;
}

.btn:hover {
    background-color: lightskyblue !important;
    color: navy;
}

.btn:active {
    box-shadow: none;
}
